html, body{
    padding: 0%;
    margin: 0%;
}
*{
    box-sizing: border-box;
}
/* .header {
    height: 250px;
} */
.top{
    position: relative;
    background-color: #001534;
    height: 250px;
}
.name{
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
    font-size: 38px;
    color:azure;
    
}
.title{
    font-family: 'Poppins', sans-serif;
    font-weight: normal;
    color:#E0AF2F;
    
}
.jessica_info{
    display: block;
   
    align-self: center;
}
.info{
    position: absolute;
    top: 3rem;
    left: 19rem;
}

.jessica_image {
    width:19rem;
    display: block;
}
.social{
    width: 10rem;
    display: flex;
    background: transparent;
    opacity: 1;
    justify-content:space-between
}

.c-title{
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
   color: #001534;
}
.content {
    font-family: 'Poppins', sans-serif;
    font-weight: normal;
    color:#001534
}

.bottom {
  padding: 8rem;
   
}


h1{
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
    color: #001534;
}