html,
body {
  padding: 0%;
  margin: 0%;
}
* {
  box-sizing: border-box;
}
.container-fluid {
  padding: 0 20%;
}

.top {
  position: relative;
  background-color: #001534;
  height: 250px;
}
.name {
  font-family: "Poppins", sans-serif;
  font-weight: bold;
  font-size: 38px;
  color: azure;
}
.title {
  font-family: "Poppins", sans-serif;
  font-weight: normal;
  color: #e0af2f;
}
.jessica_info {
  display: block;
  align-self: center;
}

.jessica_info_mob_view {
  display: none;
  align-self: center;
}

.info {
  position: absolute;
  top: 3rem;
  left: 10rem;
}

.jessica_image {
  width: 19rem;
  display: block;
}
.jessica_image:hover {
  width: 19.5rem;
  display: block;
}
.mob_view {
  display: none;
}
.btn_view {
  display: none;
  background-color: blue;
}
.social {
  width: 10rem;
  display: flex;
  background: transparent;
  opacity: 1;
  justify-content: space-between;
}

.c-title {
  font-family: "Poppins", sans-serif;
  font-weight: bold;
  color: #001534;
}
.content {
  font-family: "Poppins", sans-serif;
  font-weight: bold;
  font-size: 10px;
  color: #001534;
  opacity: 1;
}

.bottom {
  padding: 8rem;
}

.bottom > h1 {
  font-family: "Poppins", sans-serif;
  font-weight: bold;
  color: #001534;
}

.jessica_info > .buton_view {
  display: none;
}

.card-body > a {
  display: flex;
  text-decoration: none;
  color: #e0af2f;
}

span.material-symbols-outlined {
  margin-left: 2%;
  margin-top: 0.5%;
}

.container-fluid > .bottom > div {
  margin: 2% 0 2% 0;
}

.card-title {
  font-size: 10px;
  color: #001534;
  opacity: 0.5%s;
}
.card-text {
  font-family: "Poppins", sans-serif;
  font-weight: bold;
  color: #001534;
}
.card {
  height: 100%;
}
.dn-btn {
  display: none !important;
}

.card > img:hover {
  width: 340px;
  height: 300px;
  position: absolute;
}
.container-fluid {
  animation: fadeIn 5s;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
