@media (min-width: 0px) and (max-width: 768px) {
  .container-fluid {
    width: 100% !important;
  }
  .container-fluid > .top {
    height: 630px;
  }
  .top > .jessica_info {
    padding: 0%;
    justify-content: center;
    display: flex;
    align-content: center;
    align-items: center;
    flex-direction: column;
  }
  .jessica > .info {
    display: none !important;
  }

  .jessica_info > .mob_view {
    display: block;
    width: 16rem;
  }
  .jessica_info > .buton_view {
    display: block !important;
  }

  .jessica_info > .name {
    font-size: 24px;
    margin-top: 2%;
  }
  .top > .empty {
    display: none;
  }
  .container-fluid > .d {
    display: none;
  }

  .container-fluid > .bottom {
    padding: 0%;
    margin-top: 17%;
  }

  .bottom > .view_btn > .dn-btn {
    display: block !important;
  }
}

@media (min-width: 0px) and (max-width: 1200px) {
  .container {
  }

  .jessica > .info {
    position: absolute;
    top: 3rem;
    left: 4rem;
  }
}

@media (min-width: 767px) and (max-width: 1200px) {
  .container {
  }

  .jessica > .info {
    position: absolute;
    top: 3rem;
    left: 1rem;
  }
}
